[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
voluptuous = "*"
PyYAML = "*"
yamllint = "*"

[dev-packages]
bandit = "*"
coveralls = "*"
"flake8" = "*"
ipython = "*"
mypy = "*"
"nose2" = "*"
setuptools = "*"
twine = "*"
wheel = "*"
yamllint = "*"

[requires]
python_version = "3.6"
